body {
	background-color: black;
}

#Hand {
	position: absolute;
	background-color: #00ffff;
	width: 20px;
	height: 500px;
	border-radius: 10px;
	margin-top: 70px;
	margin-left: 45px;
	box-shadow: 0 0 15px 2px #00ffff;
}

#canvas {
	position: absolute;
	left: 60px;
}