body {
    background-color: #000;
    color: #fff;
    font-family: "Lucida Console";
    font-size: 90%;
}

#clock {

    position: relative;
    text-align: center;
    margin-top: 20%;
    width: 52vw;
    height: 10vw;
    margin-left: 25%;
}

#date {

    width: 20%;
    text-align: left;
    margin-top: 5%;
    margin-left: 2%;
}

#hour {
    color: #000;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10vh;
    text-align: center;
    position: absolute;
    width: 15vw;
    height: 10vw;
    background-color: #EAEAEA;
}

#split1 {
    position: absolute;
    height: 10vw;
    width: 1.5vw;
    font-size: 10vh;
    margin-left: 14vw;
}

#min {
    color: #000;
    font-weight: bolder;
    font-size: 10vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    position: absolute;
    width: 15vw;
    height: 10vw;
    background-color: #EAEAEA;
    margin-left: 18.4vw;
}

#split2 {
    position: absolute;
    width: 1.5vw;
    height: 10vw;
    font-size: 10vh;
    margin-left: 32.3vw;
}

#sec {
    font-weight: bolder;
    font-size: 10vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    position: absolute;
    width: 15vw;
    height: 10vW;
    background-image: linear-gradient(to right, #AF8300, #c79e22, #AF8300);
    margin-left: 37vw;
}

/* dark Gold  : #AF8300 */
/* dark white : #EAEAEA */